* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
header {
    background-color: #1f1f2e;
    color: white;
    padding: 10px 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    margin: 20px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #f4f4f4;
    color: #1f1f2e;
}

section {
    padding: 20px;
    text-align: center;
}

#welcome {
    background-color: #ececec;
}

#albums {
    margin-top: 20px;
}

/* Albums Section */
.album-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Makes it responsive */
}

.album-item {
    text-align: center;
    width: 250px; /* Adjust the size of each album */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.album-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.album-item p {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    margin: 0;
}

#about {
    background-color: #1f1f2e;
    color: white;
    padding: 40px;
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: #1f1f2e;
    color: white;
}


/* Responsive Design */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .album-grid {
        flex-direction: column;
        gap: 20px;
    }
}
